# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
#city_data_to_load = "city_data.csv"
#ride_data_to_load = "ride_data.csv"

city_data_to_load = "C:/Users/butte/Classwork/PyBer_Analysis/Resources/city_data.csv"
ride_data_to_load = "C:/Users/butte/Classwork/PyBer_Analysis/Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [44]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head(20)

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
5,South Latoya,2019-03-11 12:26:48,9.52,1994999424437,10,Urban
6,New Paulville,2019-02-27 11:17:56,43.25,793208410091,44,Urban
7,Simpsonburgh,2019-04-26 00:43:24,35.98,111953927754,21,Urban
8,South Karenland,2019-01-08 03:28:48,35.09,7995623208694,4,Urban
9,North Jasmine,2019-03-09 06:26:29,42.81,5327642267789,33,Urban
10,New Kimberlyborough,2019-02-07 01:10:11,9.34,7992781920789,33,Urban
11,West Angela,2019-01-12 01:45:27,26.86,4820052223501,48,Urban
12,Rodneyfort,2019-03-02 18:03:20,44.26,2494064867705,34,Urban
13,West Angela,2019-01-10 12:17:31,12.74,2108723916092,48,Urban
14,Roberthaven,2019-05-04 14:48:56,25.66,1026197778354,47,Urban
15,North Jason,2019-03-28 22:28:44,9.19,7007022521141,6,Urban
16,Williamsview,2019-01-03 16:19:25,18.93,1979492913169,46,Urban
17,Leahton,2019-02-26 18:42:15,8.85,6966668662612,17,Urban
18,West Anthony,2019-03-06 02:27:01,10.02,9396763280782,70,Urban
19,New Kimberlyborough,2019-04-25 22:58:38,29.67,4823568522144,33,Urban

## Deliverable 1: Get a Summary DataFrame

In [53]:
#  1. Get the total rides for each city type
urban_rides = sum(pyber_data_df["type"] == "Urban")
print("Urban total rides: " + str(sum(pyber_data_df["type"] == "Urban")))
suburban_rides = sum(pyber_data_df["type"] == "Suburban")
print("Suburban total rides: " + str(sum(pyber_data_df["type"] == "Suburban")))
rural_rides = sum(pyber_data_df["type"] == "Rural")
print("Rural total rides: " + str(sum(pyber_data_df["type"] == "Rural")))

city_total_rides = pyber_data_df.groupby(["type"]).count()["ride_id"]
city_total_rides

Urban total rides: 1625
Suburban total rides: 625
Rural total rides: 125

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [54]:
# 2. Get the total drivers for each city type

city_driver_count = pyber_data_df.groupby(["type"]).sum()["driver_count"]
city_driver_count

type
Rural         537
Suburban     8570
Urban       59602
Name: driver_count, dtype: int64

In [20]:
#  3. Get the total amount of fares for each city type

city_fare_count = pyber_data_df.groupby(["type"]).sum()["fare"]
city_fare_count

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [34]:
#  4. Get the average fare per ride for each city type. 
ave_fare = city_fare_count / city_total_rides
ave_fare

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [24]:
ave_fare_rural = city_fare_count[0] / rural_rides
ave_fare_rural

34.62344

In [28]:
# 5. Get the average fare per driver for each city type. 
city_fare_count.divide(city_driver_count)

type
Rural       8.059460
Suburban    2.258615
Urban       0.668675
dtype: float64

In [37]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame({"Total Rides": city_total_rides,
                                    "Total Drivers": city_driver_count,
                                    "Total Fares": city_fare_count,
                                    "Average Fares per Ride": ave_fare,
                                    "Average Fares per Driver": city_fare_count})
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fares per Ride,Average Fares per Driver
type,,,,,
Rural,125,537,4327.93,34.623440,4327.93
Suburban,625,8570,19356.33,30.970128,19356.33
Urban,1625,59602,39854.38,24.525772,39854.38

In [38]:
# 7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fares per Ride,Average Fares per Driver
Rural,125,537,4327.93,34.623440,4327.93
Suburban,625,8570,19356.33,30.970128,19356.33
Urban,1625,59602,39854.38,24.525772,39854.38

In [39]:
#  8. Format the columns.
pyber_summary_df["Total Rides"] = pyber_summary_df["Total Rides"].map("{:,}".format)

pyber_summary_df["Total Drivers"] = pyber_summary_df["Total Drivers"].map("{:,}".format)

pyber_summary_df["Total Fares"] = pyber_summary_df["Total Fares"].map("${:,.2f}".format)

pyber_summary_df["Average Fares per Ride"] = pyber_summary_df["Average Fares per Ride"].map("${:,.2f}".format)

pyber_summary_df["Average Fares per Driver"] = pyber_summary_df["Average Fares per Driver"].map("${:,.2f}".format)

pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fares per Ride,Average Fares per Driver
Rural,125,537,"$4,327.93",$34.62,"$4,327.93"
Suburban,625,"8,570","$19,356.33",$30.97,"$19,356.33"
Urban,"1,625","59,602","$39,854.38",$24.53,"$39,854.38"

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')